#about {
    color: rgba(110, 214, 179, 0.671);
}

.card-img-top {
    height: 450px;
}

h1{
text-align: center;
}

.card-title {
    text-decoration: underline;
}

#bio{
    color:rgba(110, 214, 179, 0.671);

}

#facts{
    color:rgba(110, 214, 179, 0.671);
}


